<!DOCTYPE html>
<html>
<script src="/js/lib/angular.min.js"></script>
<head>
    <meta charset="ISO-8859-1">
    <title>Main Page</title>
</head>
<h1>Online Units Conversion</h1>
<!--p><a href="#/login">Logout</a></a></p-->
<body>
<hr/>
<div class="container" ng-app="test" ng-controller="UserController">
    <div class="row">
    	<label class="formlabel pull-left">Select</label>
		<select ng-model="selectedUnit" class="input-sm custom-width spacing">
		  <option value="">Select unit conversion</option>
		  <option ng-repeat="unit in AllUnits" ng-value="unit">{{unit}}</option>
		</select> 
        	<!-- input type="text" name="unitId" ng-model="unitId" class="input-sm spacing" /-->
    	<label class="formlabel pull-left">Unit value </label> 
	    <input type="number" name="unitValue" ng-model="unitValue" class="input-sm custom-width spacing"/>
    	<button ng-click="convertUnit()">Convert</button> 
    </div>
    <hr/>
    <div class="row"></div>
    <hr/>
    <div class="row">
        <div class="">
            <h3>{{converted}}</h3>
        </div>
    </div>
</div>
</body>
<script src="/js/lib/ui-bootstrap-tpls-2.5.0.min.js"></script>
<script src="/js/app/app.js"></script>
<script src="/js/app/UserController.js"></script>
<script src="/js/app/UserService.js"></script>
<link rel="stylesheet" href="/css/lib/bootstrap.min.css"></link>
<link rel="stylesheet" href="/css/app/app.css"></link>
</html>